In [78]:
import pandas as pd
from datetime import datetime

In [79]:
table = pd.read_csv('data/data_csv.csv')

In [80]:
table

,Unnamed: 0,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ
0,0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
1,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
2,2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
3,3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
4,4,NaN,START,W_Completeren aanvraag,2011-10-01 11:36:46.437000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
...,...,...,...,...,...,...,...,...
262195,262195,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262196,262196,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:52:01.287000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262197,262197,11169.0,START,W_Afhandelen leads,2012-03-01 09:26:46.736000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262198,262198,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:27:37.118000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262199,262199,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:27:41.325000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000

In [81]:
sort_table = table.sort_values(by=['case:concept:name'])

In [82]:
#maybe group them by case_concept name

In [83]:
sort_table['time:timestamp'] = pd.to_datetime(sort_table['time:timestamp'].str.replace('\+.*', ''))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [84]:
complete_sorted_table = sort_table.sort_values(by=['time:timestamp'])

In [85]:
complete_sorted_table

,Unnamed: 0,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ
0,0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546,2011-10-01 00:38:44.546000+02:00,173688,20000
1,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880,2011-10-01 00:38:44.546000+02:00,173688,20000
2,2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906,2011-10-01 00:38:44.546000+02:00,173688,20000
3,3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875,2011-10-01 00:38:44.546000+02:00,173688,20000
26,26,112.0,COMPLETE,A_SUBMITTED,2011-10-01 08:08:58.256,2011-10-01 08:08:58.256000+02:00,173691,5000
...,...,...,...,...,...,...,...,...
256158,256158,10863.0,START,W_Nabellen incomplete dossiers,2012-03-14 15:59:28.309,2012-02-27 14:12:41.868000+01:00,213276,15000
256159,256159,10863.0,COMPLETE,W_Nabellen incomplete dossiers,2012-03-14 16:00:09.680,2012-02-27 14:12:41.868000+01:00,213276,15000
235011,235011,11169.0,START,W_Nabellen offertes,2012-03-14 16:02:03.883,2012-02-15 10:10:36.503000+01:00,209595,13000
246922,246922,11203.0,START,W_Nabellen incomplete dossiers,2012-03-14 16:04:46.192,2012-02-21 23:38:40.044000+01:00,211624,35000
246923,246923,11203.0,COMPLETE,W_Nabellen incomplete dossiers,2012-03-14 16:04:54.681,2012-02-21 23:38:40.044000+01:00,211624,35000

In [86]:
#Idea: make a dictionary, in which the structure is: {1st action: {A_submitted: .., A_partlysubmitted: ..., ...}}
#Then see for every action what activity has the highest number of counts, that is the most likely one and then create an 
#order

In [87]:
#Make a list of all cases such that you can see dor all cases separately
case_lst = []

for case in complete_sorted_table['case:concept:name']:
    if case not in case_lst:
        case_lst.append(case)

In [91]:
lst_pos = []

for case in case_lst[:3]:
    df_case = complete_sorted_table[complete_sorted_table['case:concept:name'] == case]
    
    lst_concepts = list(df_case['concept:name'])

    for i in range(len(lst_concepts)):
        
        if i not in lst_pos:
            lst_pos.append(i)
            dct_counts = {}
            
            dct_counts[lst_concepts[i]] = 1   
            dct_positions[i] = dct_counts
            
        else:
            if lst_concepts[i] not in dct_positions[i]:
                dct_positions[i][lst_concepts[i]] = 1
                
                
            else:
                dct_positions[i][lst_concepts[i]] += 1
            
                
dct_positions

{0: {'A_SUBMITTED': 3},
 1: {'A_PARTLYSUBMITTED': 3},
 2: {'A_PREACCEPTED': 3},
 3: {'W_Completeren aanvraag': 3},
 4: {'W_Completeren aanvraag': 3},
 5: {'A_ACCEPTED': 1, 'W_Completeren aanvraag': 2},
 6: {'A_FINALIZED': 1, 'W_Completeren aanvraag': 2},
 7: {'O_SELECTED': 1, 'A_ACCEPTED': 1, 'W_Completeren aanvraag': 1},
 8: {'O_CREATED': 1, 'A_FINALIZED': 1, 'W_Completeren aanvraag': 1},
 9: {'O_SENT': 1, 'O_SELECTED': 1, 'W_Completeren aanvraag': 1},
 10: {'W_Nabellen offertes': 1, 'O_CREATED': 1, 'W_Completeren aanvraag': 1},
 11: {'W_Completeren aanvraag': 1, 'O_SENT': 1, 'A_ACCEPTED': 1},
 12: {'W_Nabellen offertes': 2, 'O_SELECTED': 1},
 13: {'W_Nabellen offertes': 1, 'W_Completeren aanvraag': 1, 'A_FINALIZED': 1},
 14: {'W_Nabellen offertes': 2, 'O_CREATED': 1},
 15: {'W_Nabellen offertes': 2, 'O_SENT': 1},
 16: {'W_Nabellen offertes': 3},
 17: {'O_SENT_BACK': 1, 'O_SELECTED': 1, 'W_Completeren aanvraag': 1},
 18: {'W_Valideren aanvraag': 1, 'O_CANCELLED': 1, 'W_Nabellen offertes': 1},
 19: {'W_Nabellen offertes': 1, 'O_CREATED': 1, 'O_SELECTED': 1},
 20: {'W_Valideren aanvraag': 1, 'O_SENT': 1, 'O_CANCELLED': 1},
 21: {'A_ACTIVATED': 1, 'W_Nabellen offertes': 1, 'O_CREATED': 1},
 22: {'O_ACCEPTED': 1, 'W_Nabellen offertes': 1, 'O_SENT': 1},
 23: {'A_REGISTERED': 1, 'W_Nabellen offertes': 2},
 24: {'A_APPROVED': 1, 'W_Nabellen offertes': 2},
 25: {'W_Valideren aanvraag': 1, 'W_Nabellen offertes': 2},
 26: {'O_SENT_BACK': 1, 'W_Nabellen offertes': 1},
 27: {'W_Valideren aanvraag': 1, 'W_Nabellen offertes': 1},
 28: {'W_Nabellen offertes': 2},
 29: {'W_Valideren aanvraag': 1, 'W_Nabellen offertes': 1},
 30: {'W_Valideren aanvraag': 1, 'W_Nabellen offertes': 1},
 31: {'W_Valideren aanvraag': 1, 'W_Nabellen offertes': 1},
 32: {'W_Valideren aanvraag': 1, 'O_SELECTED': 1},
 33: {'W_Valideren aanvraag': 1, 'O_CANCELLED': 1},
 34: {'O_ACCEPTED': 1, 'O_CREATED': 1},
 35: {'A_REGISTERED': 1, 'O_SENT': 1},
 36: {'A_ACTIVATED': 1, 'W_Nabellen offertes': 1},
 37: {'A_APPROVED': 1, 'W_Nabellen offertes': 1},
 38: {'W_Valideren aanvraag': 1, 'W_Nabellen offertes': 1},
 39: {'W_Nabellen offertes': 1},
 40: {'W_Nabellen offertes': 1},
 41: {'W_Nabellen offertes': 1},
 42: {'W_Nabellen offertes': 1},
 43: {'W_Nabellen offertes': 1},
 44: {'W_Nabellen offertes': 1},
 45: {'W_Nabellen offertes': 1},
 46: {'W_Nabellen offertes': 1},
 47: {'W_Nabellen offertes': 1},
 48: {'W_Nabellen offertes': 1},
 49: {'O_SENT_BACK': 1},
 50: {'W_Valideren aanvraag': 1},
 51: {'W_Nabellen offertes': 1},
 52: {'W_Valideren aanvraag': 1},
 53: {'O_ACCEPTED': 1},
 54: {'A_ACTIVATED': 1},
 55: {'A_REGISTERED': 1},
 56: {'A_APPROVED': 1},
 57: {'W_Valideren aanvraag': 1},
 58: {'W_Wijzigen contractgegevens': 1}}