In [1]:
import pandas as pd

In [3]:
table = pd.read_csv('data/data_csv.csv')

In [4]:
table

,Unnamed: 0,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ
0,0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
1,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
2,2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
3,3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
4,4,NaN,START,W_Completeren aanvraag,2011-10-01 11:36:46.437000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
...,...,...,...,...,...,...,...,...
262195,262195,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262196,262196,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:52:01.287000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262197,262197,11169.0,START,W_Afhandelen leads,2012-03-01 09:26:46.736000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262198,262198,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:27:37.118000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262199,262199,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:27:41.325000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000

On the page 'Realtime vs. Offline algorithms' it says that the most simple solution is a streaming model. This is doable in constant time so relevant when time is of importance. Idea: keep a table in memory that stores, for each index in the trace: the number of times each activity was seen, the sum of the time since the last activity and the number of observations of that index.

In [15]:
table[['lifecycle_transition']] = table[['lifecycle:transition']]
trans = table[['lifecycle_transition']]

trans.lifecycle_transition.value_counts()

#What is this?

COMPLETE    164506
START        71376
SCHEDULE     26318
Name: lifecycle_transition, dtype: int64

In [16]:
table[['concept_name']] = table[['concept:name']]
cons = table[['concept_name']]

cons.concept_name.value_counts()

#So these are the different kinds of statuses.

W_Completeren aanvraag            54850
W_Nabellen offertes               52016
W_Nabellen incomplete dossiers    25190
W_Valideren aanvraag              20809
W_Afhandelen leads                16566
A_SUBMITTED                       13087
A_PARTLYSUBMITTED                 13087
A_DECLINED                         7635
A_PREACCEPTED                      7367
O_SENT                             7030
O_CREATED                          7030
O_SELECTED                         7030
A_ACCEPTED                         5113
A_FINALIZED                        5015
O_CANCELLED                        3655
O_SENT_BACK                        3454
A_CANCELLED                        2807
A_REGISTERED                       2246
A_ACTIVATED                        2246
A_APPROVED                         2246
O_ACCEPTED                         2243
O_DECLINED                          802
W_Beoordelen fraude                 664
W_Wijzigen contractgegevens          12
Name: concept_name, dtype: int64

In [45]:
table[['time:timestamp']].loc[[1]]

                     time:timestamp
1  2011-10-01 00:38:44.880000+02:00

In [39]:
from datetime import datetime

fmt = '%yyyy-%mm-%dd %h:%mm:%ss'

In [52]:
table[['org_resource']] = table[['org:resource']]
reso = table[['org_resource']]

reso.org_resource.unique()

#Are these used to refer to a specific case? The ID's?

array([  112.,    nan, 10862., 10913., 11049., 10629., 11120., 10809.,
       10912., 11201., 11119., 10861., 11203., 11181., 11189., 10609.,
       11111., 10982., 11019., 11180., 10899., 10138., 11002., 11122.,
       10889., 10972., 11121., 10939., 11029., 11009., 11000., 10863.,
       11169., 11179., 11001., 10971., 10228., 11202., 10789., 10881.,
       10909., 10188., 10910., 10929., 10931., 11259., 11200., 10779.,
       10880., 10914., 10859., 11339., 10933., 11079., 10932., 10935.,
       11254., 11003., 10125., 11269., 10821., 11289., 10124., 11299.,
       11309., 11300., 11302., 11319., 11304.])

On Training/Test (and Validation) data:

The same holds for the baseline algorithm in this course (essentially, the baseline algorithm is a decision-tree with depth 1, i.e. it only depends on the position in the trace attribute of the current event to provide a prediction. It can be trained on training data and then tested on independent test data.

Understanding Decision Trees for Classification (Python)

https://towardsdatascience.com/understanding-decision-trees-for-classification-python-9663d683c952