In [1]:
import pandas as pd
from datetime import datetime

In [2]:
table = pd.read_csv('data/data_csv.csv')

In [3]:
table

,Unnamed: 0,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ
0,0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
1,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
2,2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
3,3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
4,4,NaN,START,W_Completeren aanvraag,2011-10-01 11:36:46.437000+02:00,2011-10-01 00:38:44.546000+02:00,173688,20000
...,...,...,...,...,...,...,...,...
262195,262195,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262196,262196,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:52:01.287000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262197,262197,11169.0,START,W_Afhandelen leads,2012-03-01 09:26:46.736000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262198,262198,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:27:37.118000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000
262199,262199,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:27:41.325000+01:00,2012-02-29 23:51:16.799000+01:00,214376,15000

In [4]:
sort_table = table.sort_values(by=['case:concept:name'])

In [5]:
#maybe group them by case_concept name

In [6]:
sort_table['time:timestamp'] = pd.to_datetime(sort_table['time:timestamp'].str.replace('\+.*', ''))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [7]:
complete_sorted_table = sort_table.sort_values(by=['time:timestamp'])

In [8]:
complete_sorted_table

,Unnamed: 0,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ
0,0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546,2011-10-01 00:38:44.546000+02:00,173688,20000
1,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880,2011-10-01 00:38:44.546000+02:00,173688,20000
2,2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906,2011-10-01 00:38:44.546000+02:00,173688,20000
3,3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875,2011-10-01 00:38:44.546000+02:00,173688,20000
26,26,112.0,COMPLETE,A_SUBMITTED,2011-10-01 08:08:58.256,2011-10-01 08:08:58.256000+02:00,173691,5000
...,...,...,...,...,...,...,...,...
256158,256158,10863.0,START,W_Nabellen incomplete dossiers,2012-03-14 15:59:28.309,2012-02-27 14:12:41.868000+01:00,213276,15000
256159,256159,10863.0,COMPLETE,W_Nabellen incomplete dossiers,2012-03-14 16:00:09.680,2012-02-27 14:12:41.868000+01:00,213276,15000
235011,235011,11169.0,START,W_Nabellen offertes,2012-03-14 16:02:03.883,2012-02-15 10:10:36.503000+01:00,209595,13000
246922,246922,11203.0,START,W_Nabellen incomplete dossiers,2012-03-14 16:04:46.192,2012-02-21 23:38:40.044000+01:00,211624,35000
246923,246923,11203.0,COMPLETE,W_Nabellen incomplete dossiers,2012-03-14 16:04:54.681,2012-02-21 23:38:40.044000+01:00,211624,35000

In [10]:
#Idea: make a dictionary, in which the structure is: {1st action: {A_submitted: .., A_partlysubmitted: ..., ...}}
#Then see for every action what activity has the highest number of counts, that is the most likely one and then create an 
#order

In [9]:
#Make a list of all cases such that you can see dor all cases separately
case_lst = []

for case in complete_sorted_table['case:concept:name']:
    if case not in case_lst:
        case_lst.append(case)

In [19]:
complete_sorted_table[complete_sorted_table['case:concept:name'] == case_lst[0]]

,Unnamed: 0,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ
0,0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546,2011-10-01 00:38:44.546000+02:00,173688,20000
1,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880,2011-10-01 00:38:44.546000+02:00,173688,20000
2,2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906,2011-10-01 00:38:44.546000+02:00,173688,20000
3,3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875,2011-10-01 00:38:44.546000+02:00,173688,20000
4,4,NaN,START,W_Completeren aanvraag,2011-10-01 11:36:46.437,2011-10-01 00:38:44.546000+02:00,173688,20000
5,5,10862.0,COMPLETE,A_ACCEPTED,2011-10-01 11:42:43.308,2011-10-01 00:38:44.546000+02:00,173688,20000
7,7,10862.0,COMPLETE,A_FINALIZED,2011-10-01 11:45:09.243,2011-10-01 00:38:44.546000+02:00,173688,20000
6,6,10862.0,COMPLETE,O_SELECTED,2011-10-01 11:45:09.243,2011-10-01 00:38:44.546000+02:00,173688,20000
8,8,10862.0,COMPLETE,O_CREATED,2011-10-01 11:45:11.197,2011-10-01 00:38:44.546000+02:00,173688,20000
9,9,10862.0,COMPLETE,O_SENT,2011-10-01 11:45:11.380,2011-10-01 00:38:44.546000+02:00,173688,20000
10,10,NaN,SCHEDULE,W_Nabellen offertes,2011-10-01 11:45:11.554,2011-10-01 00:38:44.546000+02:00,173688,20000
11,11,NaN,COMPLETE,W_Completeren aanvraag,2011-10-01 11:45:13.917,2011-10-01 00:38:44.546000+02:00,173688,20000
12,12,NaN,START,W_Nabellen offertes,2011-10-01 12:15:41.290,2011-10-01 00:38:44.546000+02:00,173688,20000
13,13,NaN,COMPLETE,W_Nabellen offertes,2011-10-01 12:17:08.924,2011-10-01 00:38:44.546000+02:00,173688,20000
14,14,10913.0,START,W_Nabellen offertes,2011-10-08 16:26:57.720,2011-10-01 00:38:44.546000+02:00,173688,20000
15,15,10913.0,COMPLETE,W_Nabellen offertes,2011-10-08 16:32:00.886,2011-10-01 00:38:44.546000+02:00,173688,20000
16,16,11049.0,START,W_Nabellen offertes,2011-10-10 11:32:22.495,2011-10-01 00:38:44.546000+02:00,173688,20000
17,17,11049.0,COMPLETE,O_SENT_BACK,2011-10-10 11:33:03.668,2011-10-01 00:38:44.546000+02:00,173688,20000
18,18,11049.0,SCHEDULE,W_Valideren aanvraag,2011-10-10 11:33:04.560,2011-10-01 00:38:44.546000+02:00,173688,20000
19,19,11049.0,COMPLETE,W_Nabellen offertes,2011-10-10 11:33:05.791,2011-10-01 00:38:44.546000+02:00,173688,20000
20,20,10629.0,START,W_Valideren aanvraag,2011-10-13 10:05:26.925,2011-10-01 00:38:44.546000+02:00,173688,20000
24,24,10629.0,COMPLETE,A_ACTIVATED,2011-10-13 10:37:29.226,2011-10-01 00:38:44.546000+02:00,173688,20000
23,23,10629.0,COMPLETE,O_ACCEPTED,2011-10-13 10:37:29.226,2011-10-01 00:38:44.546000+02:00,173688,20000
21,21,10629.0,COMPLETE,A_REGISTERED,2011-10-13 10:37:29.226,2011-10-01 00:38:44.546000+02:00,173688,20000
22,22,10629.0,COMPLETE,A_APPROVED,2011-10-13 10:37:29.226,2011-10-01 00:38:44.546000+02:00,173688,20000
25,25,10629.0,COMPLETE,W_Valideren aanvraag,2011-10-13 10:37:37.026,2011-10-01 00:38:44.546000+02:00,173688,20000

In [18]:
case_lst[1]
complete_sorted_table[complete_sorted_table['case:concept:name'] == 173691]

,Unnamed: 0,org:resource,lifecycle:transition,concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ
26,26,112.0,COMPLETE,A_SUBMITTED,2011-10-01 08:08:58.256,2011-10-01 08:08:58.256000+02:00,173691,5000
27,27,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 08:09:02.195,2011-10-01 08:08:58.256000+02:00,173691,5000
28,28,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 08:09:56.648,2011-10-01 08:08:58.256000+02:00,173691,5000
29,29,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 08:09:59.578,2011-10-01 08:08:58.256000+02:00,173691,5000
30,30,NaN,START,W_Completeren aanvraag,2011-10-01 11:37:32.393,2011-10-01 08:08:58.256000+02:00,173691,5000
31,31,NaN,COMPLETE,W_Completeren aanvraag,2011-10-01 11:43:13.178,2011-10-01 08:08:58.256000+02:00,173691,5000
32,32,NaN,START,W_Completeren aanvraag,2011-10-01 14:27:57.775,2011-10-01 08:08:58.256000+02:00,173691,5000
33,33,10862.0,COMPLETE,A_ACCEPTED,2011-10-01 14:33:54.614,2011-10-01 08:08:58.256000+02:00,173691,5000
34,34,10862.0,COMPLETE,A_FINALIZED,2011-10-01 14:35:46.016,2011-10-01 08:08:58.256000+02:00,173691,5000
35,35,10862.0,COMPLETE,O_SELECTED,2011-10-01 14:35:46.016,2011-10-01 08:08:58.256000+02:00,173691,5000
36,36,10862.0,COMPLETE,O_CREATED,2011-10-01 14:35:47.488,2011-10-01 08:08:58.256000+02:00,173691,5000
37,37,10862.0,COMPLETE,O_SENT,2011-10-01 14:35:47.583,2011-10-01 08:08:58.256000+02:00,173691,5000
38,38,NaN,SCHEDULE,W_Nabellen offertes,2011-10-01 14:35:47.682,2011-10-01 08:08:58.256000+02:00,173691,5000
39,39,NaN,COMPLETE,W_Completeren aanvraag,2011-10-01 14:35:48.791,2011-10-01 08:08:58.256000+02:00,173691,5000
40,40,NaN,START,W_Nabellen offertes,2011-10-01 14:36:13.443,2011-10-01 08:08:58.256000+02:00,173691,5000
41,41,NaN,COMPLETE,W_Nabellen offertes,2011-10-01 14:36:25.794,2011-10-01 08:08:58.256000+02:00,173691,5000
42,42,NaN,START,W_Nabellen offertes,2011-10-03 16:54:43.257,2011-10-01 08:08:58.256000+02:00,173691,5000
43,43,11120.0,COMPLETE,O_SELECTED,2011-10-03 16:56:17.731,2011-10-01 08:08:58.256000+02:00,173691,5000
44,44,11120.0,COMPLETE,O_CANCELLED,2011-10-03 16:56:17.731,2011-10-01 08:08:58.256000+02:00,173691,5000
45,45,11120.0,COMPLETE,O_CREATED,2011-10-03 16:56:19.613,2011-10-01 08:08:58.256000+02:00,173691,5000
46,46,11120.0,COMPLETE,O_SENT,2011-10-03 16:56:19.645,2011-10-01 08:08:58.256000+02:00,173691,5000
47,47,NaN,SCHEDULE,W_Nabellen offertes,2011-10-03 16:56:19.941,2011-10-01 08:08:58.256000+02:00,173691,5000
48,48,NaN,COMPLETE,W_Nabellen offertes,2011-10-03 16:56:21.195,2011-10-01 08:08:58.256000+02:00,173691,5000
49,49,NaN,START,W_Nabellen offertes,2011-10-03 16:56:34.792,2011-10-01 08:08:58.256000+02:00,173691,5000
50,50,NaN,COMPLETE,W_Nabellen offertes,2011-10-03 16:57:16.563,2011-10-01 08:08:58.256000+02:00,173691,5000
51,51,11049.0,START,W_Nabellen offertes,2011-10-10 10:13:44.827,2011-10-01 08:08:58.256000+02:00,173691,5000
52,52,11049.0,COMPLETE,O_SENT_BACK,2011-10-10 10:14:43.775,2011-10-01 08:08:58.256000+02:00,173691,5000
53,53,11049.0,SCHEDULE,W_Valideren aanvraag,2011-10-10 10:14:44.052,2011-10-01 08:08:58.256000+02:00,173691,5000
54,54,11049.0,COMPLETE,W_Nabellen offertes,2011-10-10 10:14:45.514,2011-10-01 08:08:58.256000+02:00,173691,5000
55,55,10809.0,START,W_Valideren aanvraag,2011-10-10 11:12:36.612,2011-10-01 08:08:58.256000+02:00,173691,5000
56,56,10809.0,COMPLETE,W_Valideren aanvraag,2011-10-10 11:30:54.893,2011-10-01 08:08:58.256000+02:00,173691,5000
57,57,10809.0,START,W_Valideren aanvraag,2011-10-10 14:11:42.124,2011-10-01 08:08:58.256000+02:00,173691,5000
58,58,10809.0,COMPLETE,W_Valideren aanvraag,2011-10-10 14:14:13.394,2011-10-01 08:08:58.256000+02:00,173691,5000
59,59,10809.0,START,W_Valideren aanvraag,2011-10-10 14:14:52.842,2011-10-01 08:08:58.256000+02:00,173691,5000
60,60,10809.0,COMPLETE,O_ACCEPTED,2011-10-10 14:17:26.306,2011-10-01 08:08:58.256000+02:00,173691,5000
62,62,10809.0,COMPLETE,A_REGISTERED,2011-10-10 14:17:26.307,2011-10-01 08:08:58.256000+02:00,173691,5000
63,63,10809.0,COMPLETE,A_ACTIVATED,2011-10-10 14:17:26.307,2011-10-01 08:08:58.256000+02:00,173691,5000
61,61,10809.0,COMPLETE,A_APPROVED,2011-10-10 14:17:26.307,2011-10-01 08:08:58.256000+02:00,173691,5000
64,64,10809.0,COMPLETE,W_Valideren aanvraag,2011-10-10 14:17:34.633,2011-10-01 08:08:58.256000+02:00,173691,5000

In [20]:
#dct_positions = {}

for case in case_lst[:2]:
    df_case = complete_sorted_table[complete_sorted_table['case:concept:name'] == case]
    
    lst_concepts = list(df_case['concept:name'])

    dct_c = {}
    
    for i in range(len(lst_concepts)):
        dct_counts = {}
        if lst_concepts[i] not in dct_counts:
            dct_counts[lst_concepts[i]] = 1

        else:
            dct_counts[lst_concepts[i]] += 1
        dct_c[i] = dct_counts

dct_c  
#dct_positions

{0: {'A_SUBMITTED': 1},
 1: {'A_PARTLYSUBMITTED': 1},
 2: {'A_PREACCEPTED': 1},
 3: {'W_Completeren aanvraag': 1},
 4: {'W_Completeren aanvraag': 1},
 5: {'W_Completeren aanvraag': 1},
 6: {'W_Completeren aanvraag': 1},
 7: {'A_ACCEPTED': 1},
 8: {'A_FINALIZED': 1},
 9: {'O_SELECTED': 1},
 10: {'O_CREATED': 1},
 11: {'O_SENT': 1},
 12: {'W_Nabellen offertes': 1},
 13: {'W_Completeren aanvraag': 1},
 14: {'W_Nabellen offertes': 1},
 15: {'W_Nabellen offertes': 1},
 16: {'W_Nabellen offertes': 1},
 17: {'O_SELECTED': 1},
 18: {'O_CANCELLED': 1},
 19: {'O_CREATED': 1},
 20: {'O_SENT': 1},
 21: {'W_Nabellen offertes': 1},
 22: {'W_Nabellen offertes': 1},
 23: {'W_Nabellen offertes': 1},
 24: {'W_Nabellen offertes': 1},
 25: {'W_Nabellen offertes': 1},
 26: {'O_SENT_BACK': 1},
 27: {'W_Valideren aanvraag': 1},
 28: {'W_Nabellen offertes': 1},
 29: {'W_Valideren aanvraag': 1},
 30: {'W_Valideren aanvraag': 1},
 31: {'W_Valideren aanvraag': 1},
 32: {'W_Valideren aanvraag': 1},
 33: {'W_Valideren aanvraag': 1},
 34: {'O_ACCEPTED': 1},
 35: {'A_REGISTERED': 1},
 36: {'A_ACTIVATED': 1},
 37: {'A_APPROVED': 1},
 38: {'W_Valideren aanvraag': 1}}

In [14]:
lst_con = list(df_case['concept:name'])
lst_con

['A_SUBMITTED',
 'A_PARTLYSUBMITTED',
 'A_PREACCEPTED',
 'W_Completeren aanvraag',
 'W_Completeren aanvraag',
 'W_Completeren aanvraag',
 'W_Completeren aanvraag',
 'A_ACCEPTED',
 'A_FINALIZED',
 'O_SELECTED',
 'O_CREATED',
 'O_SENT',
 'W_Nabellen offertes',
 'W_Completeren aanvraag',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'O_SELECTED',
 'O_CANCELLED',
 'O_CREATED',
 'O_SENT',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'W_Nabellen offertes',
 'O_SENT_BACK',
 'W_Valideren aanvraag',
 'W_Nabellen offertes',
 'W_Valideren aanvraag',
 'W_Valideren aanvraag',
 'W_Valideren aanvraag',
 'W_Valideren aanvraag',
 'W_Valideren aanvraag',
 'O_ACCEPTED',
 'A_REGISTERED',
 'A_ACTIVATED',
 'A_APPROVED',
 'W_Valideren aanvraag']

In [13]:
dct_c = {}
for i in range(len(lst_con)):
    dct_counts = {}
    if lst_con[i] not in dct_counts:
        dct_counts[lst_con[i]] = 1
        
    else:
        dct_counts[lst_con[i]] += 1
    dct_c[i] = dct_counts
    
dct_c

{0: {'A_SUBMITTED': 1},
 1: {'A_PARTLYSUBMITTED': 1},
 2: {'A_PREACCEPTED': 1},
 3: {'W_Completeren aanvraag': 1},
 4: {'W_Completeren aanvraag': 1},
 5: {'W_Completeren aanvraag': 1},
 6: {'W_Completeren aanvraag': 1},
 7: {'A_ACCEPTED': 1},
 8: {'A_FINALIZED': 1},
 9: {'O_SELECTED': 1},
 10: {'O_CREATED': 1},
 11: {'O_SENT': 1},
 12: {'W_Nabellen offertes': 1},
 13: {'W_Completeren aanvraag': 1},
 14: {'W_Nabellen offertes': 1},
 15: {'W_Nabellen offertes': 1},
 16: {'W_Nabellen offertes': 1},
 17: {'O_SELECTED': 1},
 18: {'O_CANCELLED': 1},
 19: {'O_CREATED': 1},
 20: {'O_SENT': 1},
 21: {'W_Nabellen offertes': 1},
 22: {'W_Nabellen offertes': 1},
 23: {'W_Nabellen offertes': 1},
 24: {'W_Nabellen offertes': 1},
 25: {'W_Nabellen offertes': 1},
 26: {'O_SENT_BACK': 1},
 27: {'W_Valideren aanvraag': 1},
 28: {'W_Nabellen offertes': 1},
 29: {'W_Valideren aanvraag': 1},
 30: {'W_Valideren aanvraag': 1},
 31: {'W_Valideren aanvraag': 1},
 32: {'W_Valideren aanvraag': 1},
 33: {'W_Valideren aanvraag': 1},
 34: {'O_ACCEPTED': 1},
 35: {'A_REGISTERED': 1},
 36: {'A_ACTIVATED': 1},
 37: {'A_APPROVED': 1},
 38: {'W_Valideren aanvraag': 1}}

In [51]:
#Just a dictionary with all indexes and the actions for all cases:
lst_all = []

for case in case_lst[:2]:
    df_case = complete_sorted_table[complete_sorted_table['case:concept:name'] == case]
    
    lst_concepts = list(df_case['concept:name'])
    dct = {}
    
    for i in range(len(lst_concepts)):
        dct[i] = lst_concepts[i]
        
    lst_all.append(dct)

lst_all

[{0: 'A_SUBMITTED',
  1: 'A_PARTLYSUBMITTED',
  2: 'A_PREACCEPTED',
  3: 'W_Completeren aanvraag',
  4: 'W_Completeren aanvraag',
  5: 'A_ACCEPTED',
  6: 'A_FINALIZED',
  7: 'O_SELECTED',
  8: 'O_CREATED',
  9: 'O_SENT',
  10: 'W_Nabellen offertes',
  11: 'W_Completeren aanvraag',
  12: 'W_Nabellen offertes',
  13: 'W_Nabellen offertes',
  14: 'W_Nabellen offertes',
  15: 'W_Nabellen offertes',
  16: 'W_Nabellen offertes',
  17: 'O_SENT_BACK',
  18: 'W_Valideren aanvraag',
  19: 'W_Nabellen offertes',
  20: 'W_Valideren aanvraag',
  21: 'A_ACTIVATED',
  22: 'O_ACCEPTED',
  23: 'A_REGISTERED',
  24: 'A_APPROVED',
  25: 'W_Valideren aanvraag'},
 {0: 'A_SUBMITTED',
  1: 'A_PARTLYSUBMITTED',
  2: 'A_PREACCEPTED',
  3: 'W_Completeren aanvraag',
  4: 'W_Completeren aanvraag',
  5: 'W_Completeren aanvraag',
  6: 'W_Completeren aanvraag',
  7: 'A_ACCEPTED',
  8: 'A_FINALIZED',
  9: 'O_SELECTED',
  10: 'O_CREATED',
  11: 'O_SENT',
  12: 'W_Nabellen offertes',
  13: 'W_Completeren aanvraag',
  14: 'W_Nabellen offertes',
  15: 'W_Nabellen offertes',
  16: 'W_Nabellen offertes',
  17: 'O_SELECTED',
  18: 'O_CANCELLED',
  19: 'O_CREATED',
  20: 'O_SENT',
  21: 'W_Nabellen offertes',
  22: 'W_Nabellen offertes',
  23: 'W_Nabellen offertes',
  24: 'W_Nabellen offertes',
  25: 'W_Nabellen offertes',
  26: 'O_SENT_BACK',
  27: 'W_Valideren aanvraag',
  28: 'W_Nabellen offertes',
  29: 'W_Valideren aanvraag',
  30: 'W_Valideren aanvraag',
  31: 'W_Valideren aanvraag',
  32: 'W_Valideren aanvraag',
  33: 'W_Valideren aanvraag',
  34: 'O_ACCEPTED',
  35: 'A_REGISTERED',
  36: 'A_ACTIVATED',
  37: 'A_APPROVED',
  38: 'W_Valideren aanvraag'}]